{% extends 'base2.html' %}

{% block form %}
<div>
	<form class="register_form" action="" method="POST">
		<h3>Register New Patron</h3>
		<div>
			<div>
				<input type="text" name="username" placeholder="Username" size="50" required/>
			</div>
			<div>
				<input type="password" name="password" placeholder="Password" size="50" required/>
			</div>
			<div>
				<input type="password" name="password2" placeholder="Check Password" size="50" required/>
			</div>
			<button class="singup_button" type="submit" value="signup">Sign Up</button>
		</div>
	</form>
</div>
{% endblock form %}


