{% extends 'profile.html' %}

{% block body %}

    <div class="appoinments_container">
	    <h3 class="patron_schedule">Scheduled Appointments</h3>
		{% if appointments %}
	    {% for a in appointments %}
		    <div class="patron_schedule">
			    <h4 class="stylist_name">{{ a.stylist.lastname }}, {{ a.stylist.firstname }}</h4>
			        <label class="patron_schedule">Date: </label>
			        <p class="patron_schedule">{{ a.date.strftime('%b %d, %Y')}}</p>
                     <label class="patron_schedule">Time: </label>
                    <p class="patron_schedule">{{ a.time }}</p>
                {% if patron_loggedIn %}
			    <div class="button_container">
				    <form class="patron_schedule" method="POST">
						<input type="date" name="appointedDate" value="{{ a.date.strftime('%Y-%m-%d') }}" hidden/>
                        <input type="text" name="appointedTime" value="{{ a.time }}" hidden/>
					    <button type="submit" name="cancel_button" class="patron_schedule" value="{{ a.stylist_id }}">Cancel</button>
				    </form>
			    </div>
                {% endif %}
	        </div>
		{% endfor %}
	    {% else %}
		<div class="patron_schedule">
			<p class="patron_schedule">No Appoiment scheduled</p>
		</div>
		{% endif %}
	    
    </div>

{% endblock  %}