<html>
	<head></head>
	<body>
		<h1>ERROR!</h1>
		<h2>Invalid Parameters</h2>
        <h3>The inputs does not follow direction!</h3>
		<h3>Please enter:</h3>
		<p id = 'rule'>
            1. Single-character true symbol
			<br>
			2. Single-character false symbol
			<br>
			3. Table size greater than or equal to 2 (>=2)
			<br>
			4. Different characters for the true and false symbol inputs
        <p>
		<a href="/" >Back to main</a>
	</body>
</html>