<html>
	<head></head>
	<body>
		<form>
			True Symbol Input: 
			<input type='text' name='true_input' />
            <br>
			False Symbol Input: 
			<input type='text' name='false_input' />
            <br>
			Size (2^X): 
			<input type='text' name='table_size' />
		    <br>
			<input  type='submit' value='Show Truth Table'/>
		</form>
		<p>
			<a href="/" >Reload Page</a>
		</p>
	</body>
</html>